@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #111827;

  --card: #f3f4f6;

  --border: rgba(0,0,0,0.08);
}

.dark {
  --background: #050505;

  --foreground: #ffffff;

  --card: rgba(255,255,255,0.05);

  --border: rgba(255,255,255,0.08);
}

body {
  background: var(--background);
  color: var(--foreground);

  transition:
    background 0.3s ease,
    color 0.3s ease;
}