@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.dark {
  background: #000000;
  color: #ffffff;
}

.light {
  background: #ffffff;
  color: #000000;
}